html
   head
      title Skill report
      style
        include style.css
   body
         div
            h3 Job description
            p=job
         br
         div
            h3 Skills
            ul
               each skill in skills
                  li=skill
         br
